

.Main_Title{
    width: 100%;
    display: flex;
    min-height: 150px;
    align-items: center;
    justify-content: center;
}
.Main_TitleConteiner{
    width: 90%;
    max-width: 1400px;
}
.Main_TitleConteiner h1{
    color: black;
    font-size: 4rem;
    font-family: var(--font-h1);
}
.Main_TitleConteiner h1 span{ 
    color: var(--Main-Color);


}


@media screen and (min-width:0px) and (max-width:550px){
    .Main_TitleConteiner h1{
        color: black;
        font-size: 12vw;
        font-family: var(--font-h1);
    }
}

@media screen and (min-width:1250px){
    .Main_TitleConteiner h1{
        margin-left: 30px;
    }
}